<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: rgb(160, 151, 235);
      }
    </style>
    <title>To-Do List</title>
  </head>
  <body>
    <div class="container">
      <div class="finp">
        <div class="col-12 col-md-6 mx-auto mt-4 text-center">
          <h2>Enter Your Task</h2>
          <form method="post" action="/add">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="task"
                id="task"
                placeholder="Enter a task"
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="btn btn-outline-success"
                value="Add"
              />
            </div>
          </form>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <% for(var tasks of data){ %>
      <form method="post" action="/delete" class="form-inline my-3">
        <p><%= tasks.task%></p>

        <input type="hidden" name="id" value="<%= tasks._id%>" />
        <%if(tasks.status){%> <%}else{%>
        <button
          type="submit"
          class="btn btn-outline-success mx-2"
          formaction="/update"
        >
          Mark As Done
        </button>
        <%}%>
        <button type="submit" class="btn btn-outline-danger mx-2">
          Delete Task
        </button>
      </form>
      <%}%>
    </div>
  </body>
</html>
